[project]
name = "workspace"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.5",
    "flask>=3.1.2",
    "psutil>=7.2.2",
    "requests>=2.32.5",
    "uvicorn>=0.40.0",
]
